{% extends 'base.html.twig' %}

{% block body %}
<div class="container">
    <img src="{{ asset('img/ksa-logo.png') }}" style="left: 53%; position:absolute">
    <br><br><br>
    <p><span style="font-size: 13.0pt; line-height: 115%; font-family: 'Times New Roman',serif;">&nbsp;</span></p>
    <p style="text-align: right;"><strong><span style="font-size: 14.0pt; line-height: 115%; font-family: 'Times New Roman',serif;">الخرج &ndash;&nbsp; العفجة&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;التاريخ&nbsp;&nbsp; &nbsp;&nbsp;/ &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;/ &nbsp;&nbsp;143هـ </span></strong></p>
    <p style="text-align: right;"><strong><span style="font-size: 14.0pt; line-height: 115%; font-family: 'Times New Roman',serif;">شارع منتزه البعيجان&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; الموافق &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;/ &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;/ &nbsp;&nbsp;201م </span></strong></p>
    <br>
    <p style="text-align: right;"><span style="font-size: 14.0pt; line-height: 115%; font-family: 'Times New Roman',serif;">اسم المستأجر: &nbsp;{{guest_name}} رقم البطاقة: &nbsp;{{card_id}}</span></p>
    <p style="text-align: right;"><span style="font-size: 14.0pt; line-height: 115%; font-family: 'Times New Roman',serif;">تاريخها: {{card_date}} مصدرها: &nbsp;{{card_location}} رقم الجوال : {{phone_number}}</span></p>
    <p style="text-align: right;"><span style="font-size: 14.0pt; line-height: 115%; font-family: 'Times New Roman',serif;">قيمة الإيجار: {{price}} قيمة التامين: {{deposit}} رقم الشالية: {{room_number}}</span></p>
    <p style="text-align: right;"><span style="font-size: 14.0pt; line-height: 115%; font-family: 'Times New Roman',serif;">يوم الإيجار: &nbsp;{{check_in_date}}&nbsp; من الساعة: {{time_in}} إلى الساعة: {{time_out}}</span></p>
    <p style="margin-bottom: .0001pt; line-height: 150%; text-align: right;"><span style="font-size: 14.0pt; line-height: 150%; font-family: 'Times New Roman',serif;">تم الاتفاق بين الطرفين الأول المالك والطرف الثاني المستأجر وفقاً للشروط التالية</span></p>
    <ol style="direction: rtl;">
        <li style="line-height: 150%; margin: 0in .25in .0001pt 0in;"><span style="font-size: 14.0pt; line-height: 150%; font-family: 'Times New Roman',serif;"> يتعهد الطرف الثاني بالمسؤولية الكاملة عن المسبح ومراقبة من يسبح به من الأطفال وفي حالة غرق أحد الأشخاص في المسبح لا قدر الله فإن المالك يخلي مسؤوليته ويتحمل المستأجر المسؤولية بالكامل. </span></li>
        <li style="margin-right: .25in; line-height: 150%;text-align: right;"><span style="font-size: 14.0pt; line-height: 150%; font-family: 'Times New Roman',serif;"> على المستأجر إبراز الهوية الوطنية أو كرت العائلة عند كتابة العقد. </span></li>
        <li style="margin-right: .25in; line-height: 150%;text-align: right;"><span style="font-size: 14.0pt; line-height: 150%; font-family: 'Times New Roman',serif;"> لا يسمح للمستأجر استرجاع قيمة العربون أو الإيجار المدفوع عند عدم حضوره للشالية في اليوم المتفق عليه. </span></li>
        <li style="margin-right: .25in; line-height: 150%;text-align: right;"><span style="font-size: 14.0pt; line-height: 150%; font-family: 'Times New Roman',serif;"> يجب على المستأجر دفع العربون قبل ثلاثة أيام من يوم الحجز المتفق عليه وبخلافه يعتبر الحجز لا غي </span></li>
        <li style="margin-right: .25in; line-height: 150%;text-align: right;"><span style="font-size: 14.0pt; line-height: 150%; font-family: 'Times New Roman',serif;"> يدفع المستأجر تأمين ( 500) ريال ويأخذه أثناء المغادرة اذا لم يكن هناك أي تلفيات في الشاليه وفي حالة عدم 5. تغطية مبلغ التأمين التلفيات فإن المستأجر يتحمل كامل قيمة اصلاح التلفيات. </span></li>
        <li style="margin-right: .25in; line-height: 150%;text-align: right;"><span style="font-size: 14.0pt; line-height: 150%; font-family: 'Times New Roman',serif;"> لا يسمح للمستأجر بإزعاج الجيران ولا يسمح له بإطلاق الألعاب والأعيرة النارية. </span></li>
        <li style="margin-right: .25in; line-height: 150%;text-align: right;"><span style="font-size: 14.0pt; line-height: 150%; font-family: 'Times New Roman',serif;"> المالك غير مسئول عن إنقطاع الكهرباء من شركة الكهرباء في الشاليهات. </span></li>
        <li style="margin-right: .25in; line-height: 150%;text-align: right;"><span style="font-size: 14.0pt; line-height: 150%; font-family: 'Times New Roman',serif;"> التاريخ المتبع في الحجوزات هو التاريخ الهجري حسب أم القرى. </span></li>
        <li style="margin-right: .25in; line-height: 150%;text-align: right;"><span style="font-size: 14.0pt; line-height: 150%; font-family: 'Times New Roman',serif;"> المالك غير مسئول عن أي أعمال تخل بالأداب الإسلامية ويتحمل المستأجر العواقب. ومغادرة الشاليه بدون إسترجاع قيمة الإيجار. </span></li>
        <li style="margin-right: .25in; line-height: 150%;text-align: right;"><span style="font-size: 14.0pt; line-height: 150%; font-family: 'Times New Roman',serif;"> الطرف الأول غير مسئول عن أي مفقودات في الشاليه. </span></li>
        <li style="margin-right: .25in; line-height: 150%;text-align: right;"><span style="font-size: 14.0pt; line-height: 150%; font-family: 'Times New Roman',serif;"> يحق للمالك إلغاء العقد إذا لم يلتزم المستأجر بما ورد في شروط العقد وتعتبر قيمة الإيجار من حق المالك. </span></li>
    </ol>
    <p style="margin-right: -.05pt;direction: rtl;"><strong><span style="font-size: 14.0pt; line-height: 115%; font-family: 'Times New Roman',serif;">ملاحظة:.............................................................................................................................................................................................................................................................................................................................................................................................................................................. </span></strong></p>
    <p style="margin-right: -.05pt; line-height: 150%;text-align: right;""><span style="font-size: 14.0pt; line-height: 150%; font-family: 'Times New Roman',serif;">&nbsp;</span></p>
    <p style="margin-right: -.05pt; line-height: 150%;text-align: right;""><span style="font-size: 14.0pt; line-height: 150%; font-family: 'Times New Roman',serif;">المستأجر &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;المؤجر </span></p>
    <p style="margin-right: -.05pt; line-height: 150%;text-align: right;""><span style="font-size: 14.0pt; line-height: 150%; font-family: 'Times New Roman',serif;">الاسم:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; {{guest_name}}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; الإسم:</span></p>
    <p style="margin-right: -.05pt; line-height: 150%;text-align: right;""><span style="font-size: 14.0pt; line-height: 150%; font-family: 'Times New Roman',serif;">التوقيع :&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; التوقيع: </span></p>
    <p style="line-height: 150%;text-align: right;""><span style="font-size: 13.0pt; line-height: 150%; font-family: 'Times New Roman',serif;">&nbsp;</span></p>
</div>
    <button onclick="myFunction()">Print this page</button>

    <script>
        function myFunction() {
            window.print();
        }
    </script>
    {% block javascripts %}

    {% endblock %}
{% endblock %}

